*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #e3f2fd;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.container .col{
    background: #fff;
    list-style: none;
    margin: 13px;
    padding: 7px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.container .col:active{
    transform: scale(0.95);
}
.col:hover .box{
    filter: brightness(106%);
}

.col .box{
width: 185px;
height: 188px;
background: #8a6cff;

}
.col span{
    display: block;
    color: #444;   
    margin: 12px 0 8px;
    font-size: 1.15rem;
    font-weight: bold;
    text-transform: uppercase;

}
.ref{
    outline: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color:#fff;
    background: #8a6cff;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(52, 87, 220, 0.2);
    position: fixed;
    left: 50%;
    bottom: 1%;
    transform: translate(-50%);
}
p{
    display: inline;
}